web/WEB-INF/wsdl/localhost_8080/SubastaWS/Articulo_Nuevo.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://sw2.ulima.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sw2.ulima.edu/">

<xs:element name="Articulo" type="tns:Articulo"/>

<xs:element name="ArticuloResponse" type="tns:ArticuloResponse"/>

<xs:complexType name="Articulo">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:float"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="ruta" type="xs:string" minOccurs="0"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ArticuloResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>