web/WEB-INF/wsdl/localhost_8080/SubastaWS/Compra.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://sw2.ulima.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sw2.ulima.edu/">

<xs:element name="compra" type="tns:compra"/>

<xs:element name="compraResponse" type="tns:compraResponse"/>

<xs:complexType name="compra">
<xs:sequence>
<xs:element name="dni" type="xs:int" minOccurs="0"/>
<xs:element name="credito" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="compraResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>